<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755755412996-2af963ol993pegh2h1t1om7mjc2vsf8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755755412996-2af963ol993pegh2h1t1om7mjc2vsf8l</string>
	<key>API_KEY</key>
	<string>AIzaSyCa1-Q9AV0ydn6kgTQiX8dTvZ1TYJVh9Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>755755412996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Logan-Prestigiacomo.Grouper-Login</string>
	<key>PROJECT_ID</key>
	<string>grouper-71556</string>
	<key>STORAGE_BUCKET</key>
	<string>grouper-71556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755755412996:ios:5ba69594020f438cbb8f51</string>
	<key>DATABASE_URL</key>
	<string>https://grouper-71556-default-rtdb.firebaseio.com</string>
</dict>
</plist>